{% extends 'base.html.twig' %}
{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 100%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1><strong>L'échelle de Schmidt</strong></h1>

    <p>Je suis ravie de vous faire partager ce scientifique qui a prit des risques pour toi qui a la peau épaisse, ou elle qui a la peau blanche, ou eux qui pensent être insensibles .... bref pour nous tous !</p>
    <h2>J'espère que cet article attisera ta curiosité ...</h2>
    
    <table class="table ">
		<thead>
			<tr>
				<th>Insecte</th>	
                <th>Photo</th>
                <th>Pays</th>
				<th>Réactions</th>				
                <th>Note douleur</th>
			</tr>
        {% for currrentInsect in insect %}
            <tr>
				<th>{{ currrentInsect.name }}</th>
                <th>
                     <div class="col-12 picture" style="background-picture: url({{ currrentInsect.picture }});">
                        <img src="{{ currrentInsect.picture }}" class="img-fluid">
                    </div>
                    </th>
				<th>{{ currrentInsect.country }}</th>
                <th>{{ currrentInsect.reaction }}</th>
                <th>{{ currrentInsect.ratting }}</th>
		    </tr>		
        {% endfor %}
        </thead>
    </table>
</div> 
{% endblock %}